body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9c5d1; /* Chocolate color */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color:#8e4585; /* Chocolate color */
}

.container {
    padding: 20px;
}

.chocolate-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #8B4513; /* Chocolate color */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}